
.container{
  .sec-1,.sec-2{
    padding-left:.21rem;
    h4{
      margin-top:.15rem;
      height:.22rem;
      display:flex;
      align-items : center;
      justify-content:flex-start;
      font-size: .16rem;
      color: #333333;
      position:relative;
      font-weight:600;
      &:before{
        content : "";
        display:block;
        position:absolute;
        width:.07rem;height:.07rem;
        left:-.12rem;top:50%;
        margin-top:-.035rem;
        background:#FFAD00 100%;
        border-radius:.035rem;
        overflow:hidden;
      }
    }
    .ul{
      margin-top:.04rem;
      width:100%;
      font-size: .14rem;
      color: #666666;
      letter-spacing: 0;
      line-height: .23rem;
      .li{
        width:100%;
      }
    }
  }
  .sec-2{
    margin-top:.25rem;
  }
}
